@model Purchaseproweb.Entities.Systemvehiclemodels
@{
    var Systemvehiclemakes = ViewData["Systemvehiclemakeslists"] as List<SelectListItem>;
}
<div class="modal-header">
    <h5 class="text-sm modal-title" id="SocialPesaModalLabel">Vehicle Model Data</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <input class="form-control form-control-sm" asp-for="Vehiclemodelid" id="Systemvehiclemodelid" hidden />
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="font-weight-light">Make Name</label>
                <select class="form-control form-control-sm font-weight-light" id="Systemvehiclemakeid" asp-for="Vehiclemakeid" asp-items="@Systemvehiclemakes">
                    <option value="0">--Select Make ---</option>
                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="font-weight-light">Model Name</label>
                <input class="form-control form-control-sm" asp-for="Vehiclemodelname" id="Systemvehiclemodelnameid" />
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
    <button class="btn btn-sm btn-info font-weight-bold" type="button" onclick="Savesystemvehiclemodeldetails();">Add</button>
</div>