@model Purchaseproweb.Entities.Systemcustomeraccounttopups
<div class="modal-header">
    <h5 class="text-sm modal-title" id="SocialPesaModalLabel">Loan Payment Data</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <input class="form-control form-control-sm" asp-for="Loandetailitemid" id="Loandetailitemid" hidden />
        <input class="form-control form-control-sm" asp-for="LoanDetailId" id="Loandetailid" hidden />
        <input class="form-control form-control-sm" asp-for="AccountId" id="Systemcustomeraccountid" hidden />
        <input class="form-control form-control-sm" asp-for="AccountNumber" id="Systemcustomeraccountnumberid" hidden />
        <input class="form-control form-control-sm" asp-for="Assetnumber" id="Systemcustomerassetnamerid" hidden />
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="font-weight-light">Outstanding Amount</label>
                <input class="form-control form-control-sm" asp-for="Paymentamount" readonly id="SystemcustomerPaymentamountId" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="font-weight-light">Amount Paid</label>
                <input class="form-control form-control-sm" asp-for="Recievedamount" id="SystemcustomerRecievedamountId" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="font-weight-light">Memo</label>
                <textarea class="form-control form-control-sm" asp-for="Paymentmemo" id="SystemcustomermemoId" ></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="font-weight-light">Phone Number</label>
                <input class="form-control form-control-sm" asp-for="Phonenumber" id="Systemcustomerphonenumberid" />
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
    <button class="btn btn-sm btn-info font-weight-bold" type="button" onclick="Savesystemcustomerpaymentdetails();">Request</button>
</div>